body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.title {
    text-align: center;
    margin-top: 20px;
    font-size: 25px;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 80%;
    height: 400px;
    margin: auto 0;
}

.orange-div {
    background-color: orange;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    cursor: pointer;
}

.orange-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.counters {
    margin-top: 20px;
    font-size: 18px;
}

#page-title {
    margin-top: 100px;
    font-size: 30px;
}

.odgovor {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
    font-size: 25px;
}

.index-container {
    width: 80%;
    margin: 10px auto;
    text-align: center;
}

.first_question {
    font-size: 20px;
    font-family: sans-serif;
    margin: 15px;
}

.button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 18px;
    color: #ffffff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.button:hover {
    background-color: #0056b3;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}